.item-img {
    float: left;
    width: 4%;
}


.main-img {
    float: right;
    width: 600px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer-bg {
    background-image: url(./images/footer-bc.png);
}

.text-p {
    color: #687c04;
}

.text-h {
    color: #9bc401;
}

.text-gray {
    color: #e0e4dc;
}

.text-dark-yellow {
    color: #d09c4c;
}

.text-light-yellow {
    color: #edd475;
}

.button {
    font-weight: 700;
    color: white;
    background-color: #edd475;
    border-radius: 2px;
    width: 70%;
    border: 1px solid white;
    font-size: x-large;
}

.line-space {
    margin-bottom: -2px !important;
}

.button:hover {
    color: black;
  }

.links {
    column-count: 2;
}

.none {
    list-style-type: none;
}

.underline {
    text-decoration: underline;
}

.imp-message {
    margin: 20px 50px 20px 50px;
    border: solid;
    padding: 15px;
    border-color: #9bc401;
}

.section-3 {
    background-image: url(./images/openOil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.here {
    text-decoration: underline;
}


.insta {
    background: linear-gradient(yellow 5%,orange 5%, rgb(255, 35, 71), purple, blue);
}

.social-media {
    border-radius: 6px;
    color: white;
    font-size: large;
    font-weight: 700;
}

.center {
    position: absolute;
    top: 35%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    font-weight: 600;
}

.section-5-container {
    position: relative;
    text-align: center;
    color:#9bc401;
}

.space-right {
    padding-right: 35%;
}

.space-left {
    padding-left: 12%;
}

.width-mark {
    width: 40px;
}

.font-700 {
    font-weight: 700 !important;
}

.form-section {
    background-color: #1f3521;
    color: white;
}

.btn-push {
    font-weight: 700;
    color: white;
    background-color: #edd475;
    border-radius: 2px;
    width: 100%;
    border: 1px solid white;
    padding: 4%;
}


.section-1-img {
    z-index: -2;
}

.img-size {
    width: 283%;
    margin-left: -118%;
}

.section-4 {
    background-color: #f8f9fa;;
}